:root {
    --background: #fafaff;
    --primary: #40508c;
    --primary-light: #6370ac;
    --secondary: #ff7a7a;
    --secondary-light: #f9c7c7;
    --text: #222f49;
    --error: #ce4645;
    --warning: #f5e984;
    --success: #bce9a0;
    color-scheme: light;
}