#home {
    display: flex;
    flex-direction: column;
    margin-top: 8vw;

    button {
        padding: 0.6em 1.2em;
        border-color: var(--secondary);
    }

    .primary {
        background-color: var(--secondary);
        color: var(--background);
    }

    .secondary {
        color: var(--secondary);
    }
}

#home-title {
    font-weight: 900;
    font-size: 4.4rem;
}

#home-subtitle {
    font-weight: 500;
    font-size: 1.2rem;
}

#home-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 3.5%;
}