#navigation {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    column-gap: 3vw;

    width: 100vw;
    max-width: 100%;
    height: 8vw;
    padding: 0 8vw;
    position: sticky;
    top: 0;

    img {
        height: 10vw;
    }

    button {
        border: none;
        padding-top: 0;
    }

    button:first-child {
        margin-right: auto;
    }
}