.clue-wrapper, .win-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--jeopardy-blue);
    position: fixed;
    /* display: none; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 6rem 12rem;
    z-index: 100;
}

.question {
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 2rem;
    word-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Crimson Pro", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;

    text-shadow: 3px 3px var(--jeopardy-black);
}

.image {
    /* height: 50%; */
    width: 25em;
}

.action-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-button {
    box-sizing: border-box;
    background-color: var(--jeopardy-blue);
    border: var(--white) 2px solid;
    border-radius: 0.8em;
    padding: 1em;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.exit:hover {
    background-color: var(--error-red);
    transform: scale(1.05);
    cursor: pointer;
}

.reveal-answer:hover {
    background-color: var(--ap-blue);
    transform: scale(1.05);
    cursor: pointer;
}

sup, sub {
    line-height: 0;
}

ul, ol {
    /* text-shadow: 2px 2px var(--jeopardy-black); */
    text-align: left;
    /* line-height: 1.5rem; */
    /* font-size: 1.5rem; */
}

li {
    margin-bottom: 0.5rem;
}

span {
    text-transform: none;
}