@import url("https://fonts.googleapis.com/css?family=Lato");

body {
    font-family: lato, sans-serif;
}

.navbar {
    background: #121212;
    display: block;
    height: 10%;
    overflow: hidden;
    color: #FFF;
}

.navbar .logo {
    padding: 25px 50px;
    float: left;
    text-align: center;
}

.counter div{
    display: inline-block;
    margin-right: 25px;
}

body {
    margin: 0;
    background: #FAFAFA;
}

main {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    max-width: 960px;
    padding: 5px 20px;
}

h2 {
    font-weight: 100;
}

.counter span {
    font-weight: 700;
    font-size: 2em;
}
.text-input {
    margin-top: 20px;
}

.text-input #textbox {
    resize: none;
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    margin: 10px 0;
    width: 100%;
    font-family: lato, sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 0 0 400px 0;
}
